body{
  background-color: #fea234;}

.content{
  background-color: #fea;
  border: 10px dashed blue;
  margin: 20px;
  padding: 15px 30px;
  height: 200px;
  width:200px;
  overflow: scroll;
}

a:link{color: red;}

a:visisted{color: blue;}

li:hover{
  font-size: 25px; color: #fea
}
