
  body{
    background-color:#fea345;
    font-family:"Times New Roman", times, serif;
}

h2 {
  line-height: 1.5;
  display: inline;
  background-image: linear-gradient(
        transparent 50%,
        #e1fffe 50%,
        #b0f8ff 85%,
        transparent 85%,
        transparent 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    animation: animatedBackground 4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards;
}

@keyframes animatedBackground {
    to {
        background-size: 100% 100%;
    }
}
h1 {
  --offset: 400px;
  span {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/spectrum.svg);
    background-repeat: repeat-x;
    background-size: 100vw 0.2em;
    background-position: left bottom 5px;
    background-position-x: var(--scrollPos);
    &:nth-of-type(2) {
      background-position-x: calc(var(--offset) + var(--scrollPos));
    }
  }
}

p {
  margin-bottom: 8rem;
}
